@import "reset";
@import "defaults";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

body {
  background: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
}

#header {
  margin-bottom: 25px;
  border-bottom: 2px solid #dfdfe5;

  .header__top {
	padding: 37px 3%;
	border-bottom: 2px solid #dfdfe5;

	.header__top__logo {
	  padding-left: 40px;
	  float: left;
	  color: black;

	  .img__logo {
		width: 60px;
		height: 60px;
	  }

	  .logo__bottom_text {
		padding-left: 80px;
		color: #AEAEB3;
	  }
	}

	.header__top__menu {
	  font-size: 16px;
	  padding-top: 15px;
	  padding-left: 10px;
	  text-align: right;

	  .img__mail {
		width: 30px;
		height: 20px;
	  }

	  .img__phone {
		width: 30px;
		height: 20px;
	  }

	  .text__phone{
		text-decoration: none;
		color: #000000;
		font-size: 16px;
		font-weight: 700;
	  }

	  ul > li {
		display: inline-block;
		margin-right: 25px;
		padding-left: 20px;

		.button1 {
		  background-color: #4CAF50;
		  border: none;
		  color: white;
		  padding: 16px 32px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 20px;
		  outline: none;
		  border: none;
		  border-radius: 100px;

		  & > a {
			font-size: 2.4rem;
			text-decoration: none;
			color: black;

			&:hover {
			  border-bottom: 2px solid black;

			  .button1 {
				background-color: #4CAF50;
				border: none;
				color: white;
				padding: 15px 32px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;

			  }
			}
		  }
		}
	  }
	}
  }
}


.header__bottom {
  padding-left: 20%;
  padding-right: 10%;
  width: 80%;
  height: 50px;
  background-color: #FFFFFF;
  line-height: 50px;
  //border-bottom: 1px solid #dfdfe5;
  //border-top: 1px solid #dfdfe5;

  nav {
	ul > li {
	  display: inline-block;
	  margin-right: 34px;

	  & > a {
		color: black;
		font-size: 20px;
		text-decoration: none;
		padding: 2px 30px;

		&:hover {
		  border-top: 2px solid black;
		  border-bottom: 2px solid black;
		}
	  }
	}
  }
}

.content {
  width: 100%;
  max-width: 1400px;
}

//Content
.block {
  width: 100%;
  background-color: #FFFFFF;
  padding: 40px 42px;
  margin-bottom: 10px;

  .text__left {

  }

  & > h3 {
	font-weight: normal;
	font-size: 1rem;
  }

  & > h3 > span {
	color: #9d9d9d;
  }

  & > h2 {
	padding: 0.8rem 0 2rem;
  }

  & > a {
	float: right;
	font-size: 20px;
	color: black;
	text-decoration: none;
	font-weight: 300;

	&:hover {
	  border-bottom: 1px solid #333;
	}
  }

  .block__search {
	padding-top: 10px;
	background: #F6F6F6;
	padding-bottom: 15px;
  }

  .form__block {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 2rem;
  }

  .input__search {
	width: 90%;
	border: #FFFFFF;
	padding: 12px 20px;
  }

  .button__search {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10%;
	background-color: #51A800;
	text-align: center;
	color: #FFFFFF;
	padding: 10px 20px;
	box-sizing: border-box;
	border: #FFFFFF;

	& > img {
	  width: 100%;
	  display: inline-block;
	  color: #fff;
	  width: 20px;
	  height: 20px;
	  margin-right: 0.5rem;
	}

	&:hover {
	  cursor: pointer;
	}
  }

  .filter__block {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 1rem 2rem;
  }

  .button__search1 {
	color: #0DFF00;
	padding: 0 0.3rem;
  }

  .button__search1.current {
	text-decoration: none;
	color: #51a800;
	font-weight: 700;
  }

  .button__search2 {
	text-align: center;
	color: #0DFF00;
  }

  .block__content {
	padding-top: 60px;
  }


  .articles {

	&.articles__horizontal {
	  font-size: 0;


	  .article {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		font-size: 1.6rem;
		padding: 1rem 0;
		border-bottom: 1px solid #dfdfe5;



		&:nth-child(2n-1) {
		  flex-direction: row-reverse;

		  .article__info {
			padding: 1rem 4rem 1rem 0;
		  }
		}
	  }
	}

	&.articles__vertical {
	  .article {
		margin-bottom: 22px;
	  }
	}

	.article {

	  &:last-child {
		border-bottom: none;
	  }

	  &:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	  }

	  .article__image {
		width: 100%;
		max-width: 18rem;
		height: 200px;
		overflow: hidden;
		background-color: #FFFFFF;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	  }

	  .article__info {
		width: 100%;
		padding: 1rem 0 1rem 4rem;

		.article__pubdate {
		  font-size: 1rem;
		  padding: 0.8rem 0.2rem;
		  color: #AEAEB3;
		}

		& > a {
		  color: black;
		  padding: 0.8rem 0;
		  display: block;
		  font-size: 1.8rem;
		  font-weight: 700;
		  text-decoration: none;


		  &:hover {
			text-decoration: underline;
		  }
		}

		& > .article__info__meta {
		  font-size: 1.2rem;
		  font-weight: 400;
		  padding: 1.2rem 0;

		  a {
			color: #51a800;
			text-decoration: underline;
			font-weight: 700;

			&:hover {
			  text-decoration: none;
			}
		  }
		}


		& > .article__info__preview {
		  font-size: 1rem;
		  font-weight: 400;
		}
	  }
	}
  }

  // news content

  .block {
	width: 100%;
	background-color: #FFFFFF;
	padding: 40px 42px;
	margin-bottom: 10px;

	.block__content {
	  padding-top: 10px;
	  margin-bottom: 40px;
	  border-bottom: 2px solid #dfdfe5;
	}

	& > h3 {
	  font-weight: normal;
	  font-size: 1rem;
	}

	& > h3 > span {
	  color: #9d9d9d;
	}

	& > h2 {
	  padding: 0.8rem 0 2rem;
	}

	& > a {
	  float: right;
	  font-size: 20px;
	  color: black;
	  text-decoration: none;
	  font-weight: 300;

	  &:hover {
		border-bottom: 1px solid #333;
	  }
	}


	&.articles__horizontal {
	  font-size: 0;

	  .news__article {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		font-size: 1.6rem;
		padding: 1rem 0;
		border-bottom: 1px solid #dfdfe5;

		&:nth-child(2n-1) {
		  flex-direction: row-reverse;

		  .article__info1 {
			padding: 1rem 4rem 1rem 0;
		  }
		}
	  }
	}

	&.articles__vertical1 {
	  .article1 {
		margin-bottom: 22px;
	  }
	}

	&:last-child {
	  border-bottom: none;
	}

	&:after {
	  visibility: hidden;
	  display: block;
	  font-size: 0;
	  content: " ";
	  clear: both;
	  height: 0;
	}

	.article__image1 {
	  width: 100%;
	  max-width: 18rem;
	  height: 200px;
	  overflow: hidden;
	  background-color: #FFFFFF;
	  background-repeat: no-repeat;
	  background-size: cover;
	  background-position: center center;
	}

	.article__info1 {
	  width: 100%;
	  padding: 1rem 0 1rem 4rem;

	  .article__pubdate1 {
		font-size: 1rem;
		padding: 0.8rem 0.2rem;
		color: #AEAEB3;
	  }

	  & > a {
		color: black;
		padding: 0.8rem 0;
		display: block;
		font-size: 1.8rem;
		font-weight: 700;
		text-decoration: none;


		&:hover {
		  text-decoration: underline;
		}
	  }

	  & > .article__info__meta1 {
		font-size: 1.2rem;
		font-weight: 400;
		padding: 1.2rem 0;

		a {
		  color: #51a800;
		  text-decoration: underline;
		  font-weight: 700;

		  &:hover {
			text-decoration: none;
		  }
		}
	  }

	  .full-text {
		font-size: 18px;
		color: #3a3a3a;
		line-height: 1.7em;
	  }
	  & > .article__info__preview1 {
		font-size: 1rem;
		font-weight: 400;
	  }
	}
  }

  .article__full__text {
	font-size: 20px;
	padding-top: 1%;
	width: 100%;
  }

  .dop__content {
	padding-top: 80px;
	padding-bottom: 40px;
  }
}

.paginationi .pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 20px;
  font-size: 22px;
  border-radius: 5px;
  transition: background-color .3s;

  .center {
	text-align: center;
  }

  .numlink {
	//margin: 0px 6px;
	text-align: center;
	border: 1px solid #ddd;
	//background-color: #51a800;
	margin: 10px;
	display: table;
	clear: both;
	width: 25px;
	height: 25px;
	cursor: pointer;
	border-radius: 50%;
  }

  .curlink {
	//margin: 0px 6px;
	text-align: center;
	border: 1px solid #ddd;
	background-color: #8ebf42;
	margin: 10px;
	display: table;
	clear: both;
	width: 25px;
	height: 25px;
	cursor: pointer;
	border-radius: 50%;
	padding: 12px 18px;
  }

  a {
	text-decoration: none;
	color: #000000;
	float: left;
	padding: 12px 18px;
	text-decoration: none;

	&:active {
	  background-color: #8ebf42;
	  color: #ffffff;

	}

	&:hover:not(:active) {
	  background-color: #ccc;
	}
  }
	.numlink:first-child {
	  border-top-left-radius: 5px;
	  border-bottom-left-radius: 5px;
	}

	.numlink:last-child {
	  border-top-left-radius: 5px;
	  border-bottom-left-radius: 5px;
	}

	> li {
	  display: inline-block;
	  padding: 0 0.5rem;
	  color: #000;

	}
  }


  #footer {
	background-color: #FFFFFF;
	padding: 37px 0;
	border-top: 2px solid #dfdfe5;
	text-align: center;

	.widgettitle{
	  padding-bottom: 5px;
	  font-size: 18px;
	  color: #AEAEB3;
	}

	.footer__logo {
	  margin-top: 80px;
	  float: right;

	  .img__logo {
		width: 60px;
		height: 60px;
	  }

	  .logo__bottom__text {
		padding-left: 10%;
		color: #AEAEB3;
	  }

	  .logo__bottom__bottom__text {
		font-size: 16px;
		padding-top: 5%;
		color: black;
	  }

	  .narisuemvse__text{
		color : #ABD7DA;
	  }

	}

	.fourcol__first{
	  position: relative;
	  float: left;
	  margin-right: 2%;
	  width: 20%;

	  .text__auhtor{
		font-weight: bold;
		padding-top: 60px;
		font-size: 14px;
		width: 300px;
		color: black;
		padding-left: 0px;
	  }

	  .img__mail {
		width: 30px;
		height: 20px;
	  }

	  .img__phone {
		width: 30px;
		height: 20px;
	  }

	  .img__geo {
		width: 30px;
		height: 20px;
	  }

	  .text__phone{
		text-decoration: none;
		color: #000000;
		font-size: 16px;
		font-weight: 700;
	  }

	}

	.fourcol2 {
	  position: relative;
	  float: left;
	  margin-left: 2%;
	  width: 30%;
	}

	.fourcol__last{
	  position: relative;
	  float: left;
	  margin-left: 2%;
	  width: 20%
	}

	.footer__menu {
	  padding-top: 15px;
	  text-align: left;

	  ul > li {
		display: inline-block;
		margin-right: 30px;
		padding-top: 10px;

		& > a {
		  font-size: 18px;
		  text-decoration: none;
		  color: black;
		  font-weight: 300;

		  &:hover {
			border-bottom: 1px solid #333;
		  }
		}
	  }
	}
  }

  .full-text {
	font-size: 18px;
	color: #3a3a3a;
	line-height: 1.7em;

	p {
	  text-indent: 0;
	  margin: 0 0 26px 0;
	}

	h1, h2, h3, h4, h5, h6 {
	  margin: 52px 0 26px 0;
	}
  }

  .form {

	.form__group {
	  margin-bottom: 20px;

	  &:last-child {
		margin-bottom: 0;
	  }
	}
  }








